---
import { RiDownloadLine } from "@remixicon/react";

export type Props = {
  name: string;
  instructions: string;
  assetName: string;
  inverted?: boolean;
};

const { assetName, name, instructions, inverted } = Astro.props;
---

<div class="logo-card">
  <div class:list={["preview", { inverted }]}>
    <img src={`/assets/brand-assets/${assetName}.svg`} alt={name} />
  </div>
  <div class="info">
    <h3>{name}</h3>
    <p>{instructions}</p>
    <div class="buttons">
      <a
        class="button secondary small"
        href={`/assets/brand-assets/${assetName}.svg`}
        download><RiDownloadLine />SVG</a
      >
      <a
        class="button secondary small"
        href={`/assets/brand-assets/${assetName}.png`}
        download><RiDownloadLine />PNG</a
      >
    </div>
  </div>
</div>

<style lang="scss">
  .logo-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding-block-end: var(--space-m);
  }

  h3 {
    font-size: var(--step-1);
    margin-block-end: var(--space-2xs);
  }

  p {
    font-size: var(--step--1);
    margin-block-end: var(--space-s);
  }

  .preview {
    aspect-ratio: 5 / 3;
    border: 3px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    &.inverted {
      background-color: var(--text-color);
    }
  }

  .buttons {
    margin-top: auto;
  }

  .button {
    display: inline-flex;
  }
</style>
