---
import { getCollection, getEntries } from "astro:content";
import ArticleLink from "~/components/ArticleLink.astro";
import PageHeader from "~/components/PageHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = await getCollection("posts");
const sortedPosts = posts.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<BaseLayout
  title="Blog"
  description="Get all the latest news from Namesake."
  color="blue"
>
  <PageHeader
    title="Blog"
    description="Get all the latest news from Namesake."
  />
  <div class="posts">
    {
      sortedPosts.length ? (
        sortedPosts.map(async (post) => {
          const authors = await getEntries(post.data.authors);
          const authorsNames = authors.map((author) => author.data.name);

          return (
            <ArticleLink
              authors={authorsNames}
              title={post.data.title}
              date={post.data.publishDate}
              url={`/blog/${post.id}`}
              description={post.data.description}
              image={
                post.data.image
                  ? {
                      src: post.data.image.src.src,
                      alt: post.data.image.alt,
                    }
                  : undefined
              }
            />
          );
        })
      ) : (
        <p>No posts found.</p>
      )
    }
  </div>
</BaseLayout>

<style lang="scss">
  .posts {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }
</style>
