---
import type { SanityDocument } from "@sanity/client";
import ArticleLink from "~/components/ArticleLink.astro";
import PageHeader from "~/components/PageHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { loadQuery } from "~/sanity/lib/loadQuery";

const { params } = Astro.props;

const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post" && defined(slug)]{
    title,
    slug,
    publishDate,
    description,
    image,
    "authors": authors[]->name
  } | order(publishDate desc)`,
  params,
});
---

<BaseLayout
  title="Blog"
  description="The latest news from Namesake."
  color="blue"
>
  <PageHeader title="Blog" description="The latest news from Namesake." />
  <div class="posts">
    {
      posts.length ? (
        posts.map((post) => (
          <ArticleLink
            authors={post.authors}
            title={post.title}
            date={post.publishDate}
            url={`/blog/${post.slug.current}`}
            description={post.description}
            image={post.image}
          />
        ))
      ) : (
        <p>No posts found.</p>
      )
    }
  </div>
</BaseLayout>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }
</style>
