---
import type { SanityDocument } from "@sanity/client";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import utc from "dayjs/plugin/utc";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { loadQuery } from "~/sanity/lib/loadQuery";
import { MaCourtOrderForm } from "./_Form";

dayjs.extend(utc);
dayjs.extend(localizedFormat);

const { data: form } = await loadQuery<SanityDocument>({
  query: `*[_type == "form" && slug.current == $slug][0]`,
  params: {
    slug: "ma-court-order",
  },
});
---

<BaseLayout title={form.title} description={form.description} color="white">
  <MaCourtOrderForm
    client:load
    title={form.title}
    description={form.description}
  />
  <div class="date-updated">
    Form last revised on {" "}
    <time datetime={form._updatedAt}
      >{dayjs.utc(form._updatedAt).local().format("LL [at] LT")}</time
    >.
  </div>
</BaseLayout>

<style>
  .date-updated {
    margin-block-start: var(--space-3xl);
    padding-block-start: var(--space-s);
    border-top: 0.5px solid var(--text-color);
    font-size: var(--step--1);
  }
</style>
