---
import type { SanityDocument } from "@sanity/client";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import utc from "dayjs/plugin/utc";
import { FormRenderer } from "~/components/react/forms/FormRenderer/FormRenderer";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { loadQuery } from "~/sanity/lib/loadQuery";

dayjs.extend(utc);
dayjs.extend(localizedFormat);

const { slug } = Astro.params;

if (!slug) return Astro.redirect("/404");

const { data: form } = await loadQuery<SanityDocument>({
  query: `*[_type == "form" && slug.current == $slug][0]`,
  params: {
    slug,
  },
});

if (!form) return Astro.redirect("/404");
---

<BaseLayout title={form.title} description={form.description} color="white">
  <FormRenderer
    client:load
    componentId={form.componentId}
    title={form.title}
    description={form.description}
  />
  <div class="date-updated">
    Form last edited on {" "}
    <time datetime={form._updatedAt}
      >{dayjs.utc(form._updatedAt).local().format("LL [at] LT")}</time
    >.
  </div>
</BaseLayout>

<style>
  .date-updated {
    margin-block-start: var(--space-3xl);
    padding-block-start: var(--space-s);
    border-top: 0.5px solid var(--text-color);
    font-size: var(--step--1);
  }
</style>
