---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import { RiArrowRightLine } from "react-icons/ri";
import Partners from "~/components/Partners.astro";
import heroIllustration from "~/content/pages/_images/hero-form.png";
import siteInfo from "~/data/site-info";
import BaseLayout from "~/layouts/BaseLayout.astro";

const entry = await getEntry("pages", "index");
if (!entry) return Astro.redirect("/404");
const { Content } = await render(entry);
---

<BaseLayout title={siteInfo.name} description={siteInfo.description}>
  <div class="home">
    <h1>
      <span>Your name is</span><br /><span class="hero-highlight"
        >yours to change</span
      >
    </h1>
    <div class="hero">
      <Image
        src={heroIllustration}
        alt="Some snails and flowers on top of a court order document"
        class="illustration"
        widths={[800, 1200, 1800]}
        sizes={`(max-width: 400px) 800px, (max-width: 600px) 1200px, 1800px`}
      />
    </div>
    <div class="content">
      <Content />
      <div class="buttons">
        <a href={siteInfo.urls.app} class="button primary"
          >Get started <RiArrowRightLine className="icon" /></a
        >
        <a href={siteInfo.urls.chat}>Join us on Discord</a>
      </div>
      <Partners />
    </div>
  </div>
</BaseLayout>

<script>
  import { annotate } from "rough-notation";

  const heroHighlight: HTMLElement | null =
    document.querySelector(".hero-highlight");
  if (heroHighlight) {
    const highlight = annotate(heroHighlight, {
      type: "highlight",
      iterations: 1,
    });
    highlight.show();
  }
</script>

<style lang="scss">
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes slideInUp {
    from {
      transform: translateY(var(--space-m));
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hero {
    padding-inline: var(--space-2xs);
    padding-block-start: var(--space-3xl);
    margin-inline: calc(-1 * var(--space-m));
    position: relative;
    overflow: hidden;
    max-width: 100vw;
  }

  .illustration {
    width: 900px;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: multiply;
    animation: slideInUp 0.6s ease-out 0.3s both;
  }

  h1 {
    text-align: center;
    font-size: var(--step-5);

    @media (width >= 420px) {
      font-size: var(--step-6);
    }

    @media (width >= 600px) {
      font-size: var(--step-7);
    }

    span {
      white-space: nowrap;
    }
  }

  .hero-highlight {
    color: var(--bg);
  }

  .content {
    padding-block-start: var(--space-xl);
    max-width: 760px;
    font-size: var(--step-1);
    animation: slideInUp 0.6s ease-out 0.6s both;

    :global(p) + :global(p) {
      margin-top: var(--space-l);
    }

    @media (width < 540px) {
      font-size: var(--step-0);
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
    margin-block-start: var(--space-3xl);
  }

  .icon {
    margin-inline-end: calc(var(--space-2xs) * -1);
  }
</style>
