---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import dayjs from "dayjs";

import { getCollection } from "astro:content";

const pressArticles = await getCollection("press");
pressArticles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title="Press"
  description="Namesake media coverage and brand assets."
>
  <div class="page-head">
    <h1>Press</h1>
  </div>
  <ul class="articles">
    {
      pressArticles.map((article) => (
        <li class="article">
          <time datetime={article.data.date.toISOString()}>
            {dayjs(article.data.date).format("MMMM YYYY")}
          </time>
          <strong class="outlet">{article.data.outlet}</strong>
          <a href={article.data.url} class="title" target="_blank">
            <span class="title-text">{article.data.title}</span>
          </a>
          {article.data.image && (
            <Image
              src={article.data.image.src}
              alt={article.data.image.alt}
              width="800"
              class="image"
            />
          )}
        </li>
      ))
    }
  </ul>
</BaseLayout>

<script>
  import { annotate } from "rough-notation";

  const header: HTMLElement | null = document.querySelector(".page-head h1");

  if (header) {
    const highlight = annotate(header, {
      type: "circle",
      iterations: 2,
    });
    highlight.show();
  }

  const titles: NodeListOf<HTMLElement> =
    document.querySelectorAll(".title-text");

  if (titles) {
    titles.forEach((title) => {
      const highlight = annotate(title, {
        type: "highlight",
        color: "var(--bg-purple)",
        multiline: true,
        iterations: 1,
        animate: false,
      });
      highlight.show();
    });
  }
</script>

<style lang="scss">
  .page-head {
    padding-block-end: var(--space-3xl);

    h1 {
      display: inline;
    }
  }

  .articles {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  .title {
    font-size: var(--step-3);
    font-weight: 600;
    max-width: 36ch;
  }

  .title-text {
    padding-inline-end: var(--space-s);
    padding-block-end: var(--space-s);
  }

  .image {
    align-self: flex-end;
    padding-inline-start: var(--space-xl);
    margin-block-start: -1.25em;
    z-index: -1;
  }
</style>
