---
import { getCollection } from "astro:content";
import ArticleLink from "~/components/ArticleLink.astro";
import PageHeader from "~/components/PageHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const pressArticles = await getCollection("press");
pressArticles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title="Press"
  description="Browse recent media coverage and press releases about Namesake."
  color="green"
>
  <PageHeader title="Press" />
  <div class="articles">
    {
      pressArticles.map(({ data }) => (
        <ArticleLink
          title={data.title}
          date={data.date}
          url={data.url}
          subhead={data.outlet}
          image={data.image}
          imageAlt={data.imageAlt}
        />
      ))
    }
  </div>
</BaseLayout>

<style lang="scss">
  .articles {
    padding-bottom: var(--space-3xl);
    columns: 2;
    column-gap: var(--space-3xl);

    @media (width < 800px) {
      columns: 1;
    }
  }
</style>
