---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import dayjs from "dayjs";

import { getCollection } from "astro:content";

const pressArticles = await getCollection("press");
pressArticles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title="Press"
  description="Namesake media coverage and brand assets."
>
  <div class="page-head">
    <h1>Press</h1>
  </div>
  <ul class="articles">
    {
      pressArticles.map((article) => (
        <li class="article">
          <time datetime={article.data.date.toISOString()}>
            {dayjs(article.data.date).format("MMMM YYYY")}
          </time>
          <strong class="outlet">{article.data.outlet}</strong>
          <a href={article.data.url} class="title" target="_blank">
            <span>{article.data.title}</span>
          </a>
          {article.data.image && (
            <Image
              src={article.data.image.src}
              alt={article.data.image.alt}
              width="800"
              class="image"
            />
          )}
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style lang="scss">
  .page-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-m);
    padding-block-end: var(--space-3xl);
  }

  .articles {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);

    .title {
      font-size: var(--step-3);
      font-weight: 600;
      max-width: 36ch;

      span {
        background: var(--bg-purple);
        border-radius: 2px;
        box-shadow: 0.2em 0.2em 0 var(--bg-purple);
      }
    }
  }

  .image {
    align-self: flex-end;
    padding-inline-start: var(--space-xl);
    margin-block-start: -1.25em;
    z-index: -1;
  }
</style>
