---
import dayjs from "dayjs";

interface Props {
  title: string;
  date: Date;
  url: string;
  subhead?: string;
  authors?: string[];
  description?: string;
  image?: {
    src: string;
    alt: string;
  };
}

const { title, date, url, subhead, authors, description, image } = Astro.props;
---

<div class="article">
  <time class="date" datetime={date.toISOString()}>
    {dayjs(date).format("MMMM DD, YYYY")}
  </time>
  {subhead && <strong class="subhead">{subhead}</strong>}
  <a href={url} class="title">
    <span class="title-text">{title}</span>
  </a>
  {authors && <strong class="authors">By {authors.join(", ")}</strong>}
  {description && <p class="description">{description}</p>}
  {
    image && (
      <div class="image">
        <img src={image.src} alt={image.alt} />
      </div>
    )
  }
</div>

<style lang="scss">
  .article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-2xs);
    break-inside: avoid;

    &:not(:last-child) {
      padding-block-end: var(--space-2xl);
    }
  }

  .title {
    font-size: var(--step-3);
    font-weight: 600;
    max-width: 36ch;
    hyphens: auto;
    margin-block-end: var(--space-xs);
  }

  .title,
  .date,
  .subhead {
    z-index: 1;
  }

  .title,
  .title-text {
    line-height: var(--line-height-display);
  }

  .description {
    text-wrap: balance;
    max-width: 40ch;
  }

  .image {
    order: -1;
    max-width: 600px;
    margin-block-end: var(--space-s);
    filter: grayscale(100%) contrast(180%) brightness(140%);
    opacity: 0.9;
    mix-blend-mode: multiply;

    img {
      background-color: var(--text);
      border-radius: 3px;
      object-fit: cover;
      aspect-ratio: 5 / 3;
    }
  }
</style>
