---
import type { SanityAssetDocument } from "@sanity/client";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import SanityImage from "./SanityImage.astro";

dayjs.extend(utc);

interface Props {
  title: string;
  date: string | Date;
  url: string;
  subhead?: string;
  authors?: string[];
  description?: string;
  image?: {
    asset: SanityAssetDocument;
    alt?: string;
  };
}

const { title, date, url, subhead, authors, description, image } = Astro.props;

const dateObj = typeof date === "string" ? new Date(date) : date;
---

<article class="article">
  <time class="date" datetime={dateObj.toISOString()}>
    {dayjs.utc(dateObj).format("MMMM DD, YYYY")}
  </time>
  {subhead && <strong class="subhead">{subhead}</strong>}
  <h2 class="title">
    <a href={url} class="title-text">{title}</a>
  </h2>
  {authors && <strong class="authors">By {authors.join(", ")}</strong>}
  {description && <p class="description">{description}</p>}
  {
    image && (
      <a class="image" href={url} tabindex="-1">
        <SanityImage asset={image.asset} alt={image.alt} />
      </a>
    )
  }
</article>

<style lang="scss">
  .article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-2xs);
    break-inside: avoid;

    &:not(:last-child) {
      padding-block-end: var(--space-2xl);
    }
  }

  .title {
    font-size: var(--step-3);
    font-weight: 600;
    max-width: 36ch;
    text-wrap: balance;
    hyphens: auto;
    margin-block-end: var(--space-xs);
  }

  .title,
  .date,
  .subhead {
    z-index: 1;
  }

  .title,
  .title-text {
    line-height: var(--line-height-display);
  }

  .description {
    text-wrap: pretty;
    max-width: 48ch;
  }

  .image {
    order: -1;
    max-width: 600px;
    margin-block-end: var(--space-s);
    filter: grayscale(100%);
    mix-blend-mode: luminosity;
    transform: translate3d(0, 0, 0); // Safari bugfix

    img {
      border-radius: 3px;
    }
  }
</style>
