---
import { Image } from "astro:assets";
import { getEntries, type ReferenceDataEntry } from "astro:content";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

interface Props {
  title: string;
  date: Date;
  url: string;
  subhead?: string;
  authors?: ReferenceDataEntry<"authors", string>[];
  description?: string;
  image?: ImageMetadata;
  imageAlt?: string;
}

const { title, date, url, subhead, authors, description, image, imageAlt } =
  Astro.props;

const authorsNames = authors
  ? await getEntries(authors).then((authors) =>
      authors.map((author) => author.data.name),
    )
  : undefined;
---

<article class="article">
  <time class="date" datetime={date.toISOString()}>
    {dayjs.utc(date).format("MMMM DD, YYYY")}
  </time>
  {subhead && <strong class="subhead">{subhead}</strong>}
  <h2 class="title">
    <a href={url} class="title-text">{title}</a>
  </h2>
  {
    authorsNames && (
      <strong class="authors">By {authorsNames.join(", ")}</strong>
    )
  }
  {description && <p class="description">{description}</p>}
  {
    image && imageAlt && (
      <a class="image" href={url} tabindex="-1">
        <Image src={image} alt={imageAlt} />
      </a>
    )
  }
</article>

<style lang="scss">
  .article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-2xs);
    break-inside: avoid;

    &:not(:last-child) {
      padding-block-end: var(--space-2xl);
    }
  }

  .title {
    font-size: var(--step-3);
    font-weight: 600;
    max-width: 36ch;
    text-wrap: balance;
    hyphens: auto;
    margin-block-end: var(--space-xs);
  }

  .title,
  .date,
  .subhead {
    z-index: 1;
  }

  .title,
  .title-text {
    line-height: var(--line-height-display);
  }

  .description {
    text-wrap: pretty;
    max-width: 48ch;
  }

  .image {
    order: -1;
    max-width: 600px;
    margin-block-end: var(--space-s);
    filter: grayscale(100%);
    mix-blend-mode: luminosity;
    transform: translate3d(0, 0, 0); // Safari bugfix

    img {
      border-radius: 3px;
    }
  }
</style>
