---
import Glyph from "./Glyph.astro";
import siteInfo from "../data/site-info";

const { socialLinks } = siteInfo;
const year = new Date().getFullYear();

type Link = {
  href: string;
  label: string;
  title?: string;
};

type LinkGroup = {
  title: string;
  links: Link[];
};

const linkGroups: LinkGroup[] = [
  {
    title: "About",
    links: [
      { href: "/blog", label: "Blog" },
      { href: "/press", label: "Press" },
      { href: "/brand-assets", label: "Brand" },
    ],
  },
  {
    title: "Social",
    links: Object.values(socialLinks).map(({ href, name, text }) => ({
      href,
      title: text,
      label: name,
    })),
  },
  {
    title: "Legal",
    links: [
      { href: "/terms", label: "Terms" },
      { href: "/privacy", label: "Privacy" },
    ],
  },
];
---

<footer>
  <div class="links">
    {
      linkGroups.map(({ title, links }) => (
        <div class="linkGroup">
          <strong>{title}</strong>
          {links.map(({ href, label, title }) => (
            <a {href} {title}>
              {label}
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="copyright">
    <div>{siteInfo.name} &copy; 2022&hairsp;&ndash;&hairsp;{year}</div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: var(--space-l);
    line-height: 1.5;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .links {
    display: flex;
    gap: var(--space-m);
    align-items: stretch;
  }

  .linkGroup {
    display: flex;
    flex-direction: column;
    width: 12ch;
  }

  .copyright {
    font-size: var(--step--1);
    margin-block-start: var(--space-m);
  }

  .social {
    display: flex;
    gap: var(--space-s);
  }

  .glyph {
    align-self: flex-end;
    margin-inline-start: auto;
    width: 80px;
  }
</style>
