---
import siteInfo from "~/data/site-info";
import Subscribe from "./Subscribe.astro";

const { socialLinks } = siteInfo;
const year = new Date().getFullYear();

type Link = {
  href: string;
  label: string;
  title?: string;
};

type LinkGroup = {
  title: string;
  links: Link[];
};

const linkGroups: LinkGroup[] = [
  {
    title: "About",
    links: [
      { href: "/blog", label: "Blog" },
      { href: "/press", label: "Press" },
      { href: "/brand-assets", label: "Brand Assets" },
    ],
  },
  {
    title: "Legal",
    links: [
      { href: "/terms", label: "Terms of Service" },
      { href: "/privacy", label: "Privacy Policy" },
    ],
  },
];
---

<footer>
  <img
    class="footer-illustration"
    src="/assets/footer/snail.png"
    alt="A snail moving to the left"
    width="240"
  />
  <div class="content">
    <Subscribe />
    <div class="links">
      {
        linkGroups.map(({ title, links }) => (
          <div class="linkGroup">
            <strong>{title}</strong>
            {links.map(({ href, label, title }) => (
              <a {href} {title}>
                {label}
              </a>
            ))}
          </div>
        ))
      }
    </div>
  </div>
  <div class="content end">
    <div class="copyright">
      <div>
        {siteInfo.fullName} &copy; 2021&hairsp;&ndash;&hairsp;{year}. T4T always
        &hearts;
      </div>
    </div>
    <div class="social">
      {
        Object.values(socialLinks).map(({ href, Icon, text }) => (
          <a {href} title={text}>
            <Icon />
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    --footerBg: var(--text);
    --footerText: var(--bg);

    background: var(--footerBg);
    color: var(--footerText);
    line-height: 1.5;
    width: 100%;
    padding-block: var(--space-xl) var(--space-l);
    margin-block-start: var(--space-2xl);
    position: relative;

    :focus-visible {
      outline-color: var(--footerText);
    }
  }

  .content {
    padding-inline: var(--space-l);
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: var(--space-xl);

    + .content {
      margin-block-start: var(--space-l);
    }

    &.end {
      align-items: center;
    }

    @media (width < 760px) {
      flex-direction: column;
      gap: var(--space-l);

      .linkGroup {
        width: unset;
        flex: 1;
      }

      .social {
        gap: var(--space-l);
      }

      .copyright {
        order: 1;
      }
    }
  }

  .footer-illustration {
    width: 120px;
    position: absolute;
    bottom: calc(100% - 4px);
    right: 20px;
    mix-blend-mode: multiply;
    user-select: none;
  }

  .links {
    display: flex;
    gap: var(--space-m);
    align-items: stretch;

    a {
      font-size: var(--step--1);
    }

    @media (hover: hover) {
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .linkGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 13ch;

    > * {
      padding-block: var(--space-2xs);
    }
  }

  .copyright {
    font-size: var(--step--1);
  }

  .social {
    display: flex;
    gap: var(--space-m);
    font-size: var(--step-2);
  }
</style>
