---
import "../styles/reset.css";
import "../styles/theme.css";
import "../styles/base.css";
import { AstroFont } from "astro-font";
import { join } from "node:path";

export interface Props {
  title: string;
  description: string;
  ogImage?: string;
  ogAlt?: string;
}

const { title, description, ogImage, ogAlt } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = Astro.url.pathname === "/" ? title : `${title} · Namesake`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <link rel="icon" href="/favicon.ico?v2" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v2" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Namesake" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <AstroFont
      config={[
        {
          name: "Alte Haas Grotesk",
          src: [
            {
              style: "normal",
              weight: "400",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "AlteHaasGroteskRegular.woff2"
              ),
            },
            {
              style: "bold",
              weight: "600",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "AlteHaasGroteskBold.woff2"
              ),
            },
          ],
          preload: false,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
          cssVariable: "font-sans",
        },
      ]}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
