---
import type { MarkdownHeading } from "astro";
import type { RoughAnnotationType } from "rough-notation/lib/model";
import PageHeader from "~/components/PageHeader.astro";
import TableOfContents from "~/components/TableOfContents.astro";
import type { NamesakeColor } from "~/data/colors";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  date?: Date;
  description?: string;
  ogImage?: string;
  ogAlt?: string;
  annotation?: RoughAnnotationType;
  color?: NamesakeColor;
  headings?: MarkdownHeading[];
}

const {
  title,
  date,
  description,
  ogImage,
  ogAlt,
  annotation,
  color,
  headings,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description && smartquotes(description)}
  ogImage={ogImage}
  ogAlt={ogAlt}
  color={color}
>
  <article
    class="article-grid"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >
    <PageHeader
      title={title}
      date={date}
      description={description && smartquotes(description)}
      annotation={annotation}
    />
    <slot name="after-header" />
    <TableOfContents headings={headings} />
    <section itemprop="articleBody" class="prose">
      <slot />
    </section>
    <slot name="after-content" />
  </article>
</BaseLayout>

<script>
  import { annotate } from "rough-notation";

  const blockquotes = document.querySelectorAll("blockquote");

  if (blockquotes) {
    for (const blockquote of blockquotes) {
      console.log(blockquote);
      const highlight = annotate(blockquote, {
        type: "bracket",
        iterations: 2,
        animate: false,
        brackets: ["left", "right"],
      });
      highlight.show();
    }
  }

  const cites = document.querySelectorAll("cite");
  if (cites) {
    for (const cite of cites) {
      cite.style.color = "var(--bg)";
      const highlight = annotate(cite, {
        type: "highlight",
        iterations: 1,
        animate: false,
        multiline: true,
      });
      highlight.show();
    }
  }

  const dividers = document.querySelectorAll("hr");
  if (dividers) {
    for (const divider of dividers) {
      const highlight = annotate(divider, {
        type: "underline",
        iterations: 1,
        animate: false,
      });
      highlight.show();
    }
  }
</script>

<style lang="scss" is:global>
  .article-grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    column-gap: var(--space-m);
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "authors"
      "toc"
      "prose"
      "bios";
    @media (width >= 900px) {
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "head head"
        "authors toc"
        "prose toc"
        "bios .";

      .toc {
        position: sticky;
        top: var(--space-xl);
        right: 0;
        /* `display: grid` will extend the height of this past it's content, let's stop that */
        max-height: fit-content;
      }
    }

    .bios {
      grid-area: bios;
    }

    .prose:not(.not-content) {
      grid-area: prose;
    }

    .toc {
      grid-area: toc;
    }

    .authors {
      grid-area: authors;
    }

    .page-head {
      grid-area: head;
    }
  }

  .prose:not(.not-content) {
    max-width: 720px;
    margin-inline-end: auto;
    grid-area: prose;

    [id] {
      scroll-margin-top: 1ex;
    }

    h2 {
      margin-block-start: var(--space-3xl);
    }

    h3 {
      margin-block-start: var(--space-xl);
    }

    h2,
    h3 {
      margin-block-end: var(--space-m);
      text-wrap: balance;
    }

    p,
    ul,
    ol,
    img {
      margin-block: var(--space-m);
    }

    img,
    ul,
    ol {
      margin-block: var(--space-xl);
    }

    ul,
    ol {
      padding-inline-start: var(--space-xl);

      li {
        padding-inline-start: var(--space-s);
      }
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      margin-block: 0;
    }

    img:not(.no-filter) {
      filter: grayscale(100%);
      opacity: 1;
      mix-blend-mode: luminosity;
      transform: translate3d(0, 0, 0); // Safari bugfix
      border-radius: var(--radius-2xs);
    }

    img.multiply {
      mix-blend-mode: multiply;
    }

    blockquote {
      margin-block: calc(var(--space-m) * 2);
      padding-inline: var(--space-s);
      font-size: var(--step-1);
      hyphens: auto;
    }

    blockquote cite {
      font-weight: 600;
      hyphens: none;
    }

    hr {
      border-color: transparent;
      margin-block: var(--space-2xl);
    }
  }
</style>
