---
import type { RoughAnnotationType } from "rough-notation/lib/model";
import PageHeader from "~/components/PageHeader.astro";
import type { NamesakeColor } from "~/data/colors";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  date?: Date;
  description?: string;
  ogImage?: string;
  ogAlt?: string;
  annotation?: RoughAnnotationType;
  color?: NamesakeColor;
}

const { title, date, description, ogImage, ogAlt, annotation, color } =
  Astro.props;
---

<BaseLayout
  title={title}
  description={description && smartquotes(description)}
  ogImage={ogImage}
  ogAlt={ogAlt}
  color={color}
>
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <PageHeader
      title={title}
      date={date}
      description={description && smartquotes(description)}
      annotation={annotation}
    />
    <section itemprop="articleBody" class="prose">
      <slot />
    </section>
  </article>
</BaseLayout>

<style lang="scss" is:global>
  .prose {
    max-width: 720px;
    margin-inline-end: auto;

    h2 {
      margin-block: var(--space-2xl) var(--space-m);
    }

    p + p {
      margin-top: var(--space-m);
    }
  }
</style>
