---
import type { RoughAnnotationType } from "rough-notation/lib/model";
import PageHeader from "~/components/PageHeader.astro";
import type { NamesakeColor } from "~/data/colors";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  date?: Date;
  description?: string;
  ogImage?: string;
  ogAlt?: string;
  annotation?: RoughAnnotationType;
  color?: NamesakeColor;
}

const { title, date, description, ogImage, ogAlt, annotation, color } =
  Astro.props;
---

<BaseLayout
  title={title}
  description={description && smartquotes(description)}
  ogImage={ogImage}
  ogAlt={ogAlt}
  color={color}
>
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <PageHeader
      title={title}
      date={date}
      description={description && smartquotes(description)}
      annotation={annotation}
    />
    <slot name="after-header" />
    <section itemprop="articleBody" class="prose">
      <slot />
    </section>
    <slot name="after-content" />
  </article>
</BaseLayout>

<style lang="scss" is:global>
  .prose:not(.not-content) {
    max-width: 720px;
    margin-inline-end: auto;

    h2,
    h3 {
      margin-block: var(--space-2xl) var(--space-m);
      text-wrap: balance;
    }

    p,
    ul,
    ol,
    img {
      margin-bottom: var(--space-m);
    }

    img,
    ul,
    ol {
      margin-block: var(--space-xl);
    }

    ul,
    ol {
      padding-inline-start: var(--space-xl);

      li {
        padding-inline-start: var(--space-s);
      }
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      margin-block: 0;
    }

    img:not(.no-filter) {
      filter: grayscale(100%) contrast(120%) brightness(130%);
      opacity: 0.9;
      mix-blend-mode: multiply;
      border-radius: var(--radius-xs);
    }
  }
</style>
